# Project 11 -- Dwijen Chawra

In [4]:
%load_ext sql
%sql sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @/anvil/projects/tdm/data/movies_and_tv/imdb.db'

## Question 1

In [32]:
%%sql

-- get top 5 and bottom 5 movies by average rating using this list

SELECT t.primary_title, t.premiered, r.rating FROM titles as t INNER JOIN ratings as r ON t.title_id = r.title_id 
WHERE t.title_id in ('tt0371746', 'tt0800080', 'tt1228705', 'tt0800369', 'tt0458339', 'tt0848228', 'tt1300854', 'tt1981115', 'tt1843866', 'tt2015381', 'tt2395427', 'tt0478970', 'tt3498820', 'tt1211837', 'tt3896198', 'tt2250912', 'tt3501632', 'tt1825683', 'tt4154756', 'tt5095030', 'tt4154664', 'tt4154796', 'tt6320628', 'tt3480822', 'tt9032400', 'tt9376612', 'tt9419884', 'tt10648342', 'tt9114286') 
ORDER BY r.rating DESC LIMIT 5

 * sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db
Done.

[('Avengers: Infinity War', 2018, 8.4),
 ('Avengers: Endgame', 2019, 8.4),
 ('The Avengers', 2012, 8),
 ('Guardians of the Galaxy', 2014, 8),
 ('Iron Man', 2008, 7.9)]

In [31]:
%%sql

SELECT t.primary_title, t.premiered, r.rating FROM titles as t INNER JOIN ratings as r ON t.title_id = r.title_id 
WHERE t.title_id in ('tt0371746', 'tt0800080', 'tt1228705', 'tt0800369', 'tt0458339', 'tt0848228', 'tt1300854', 'tt1981115', 'tt1843866', 'tt2015381', 'tt2395427', 'tt0478970', 'tt3498820', 'tt1211837', 'tt3896198', 'tt2250912', 'tt3501632', 'tt1825683', 'tt4154756', 'tt5095030', 'tt4154664', 'tt4154796', 'tt6320628', 'tt3480822', 'tt9032400', 'tt9376612', 'tt9419884', 'tt10648342', 'tt9114286') 
ORDER BY r.rating ASC LIMIT 5

 * sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db
Done.

[('The Incredible Hulk', 2008, 6.7),
 ('Black Widow', 2021, 6.8),
 ('Captain Marvel', 2019, 6.8),
 ('Captain America: The First Avenger', 2011, 6.9),
 ('Thor: The Dark World', 2013, 6.9)]

Markdown notes and sentences and analysis written here.

## Question 2

In [36]:
%%sql

SELECT *
FROM titles
WHERE title_id
IN ('tt0371746', 'tt0800080', 'tt1228705', 'tt0800369', 'tt0458339', 'tt0848228', 'tt1300854', 'tt1981115', 'tt1843866', 'tt2015381', 'tt2395427', 'tt0478970', 'tt3498820', 'tt1211837', 'tt3896198', 'tt2250912', 'tt3501632', 'tt1825683', 'tt4154756', 'tt5095030', 'tt4154664', 'tt4154796', 'tt6320628', 'tt3480822', 'tt9032400', 'tt9376612', 'tt9419884', 'tt10648342', 'tt9114286')
AND title_id NOT IN (SELECT t.title_id FROM titles as t INNER JOIN ratings as r ON t.title_id = r.title_id 
WHERE t.title_id in ('tt0371746', 'tt0800080', 'tt1228705', 'tt0800369', 'tt0458339', 'tt0848228', 'tt1300854', 'tt1981115', 'tt1843866', 'tt2015381', 'tt2395427', 'tt0478970', 'tt3498820', 'tt1211837', 'tt3896198', 'tt2250912', 'tt3501632', 'tt1825683', 'tt4154756', 'tt5095030', 'tt4154664', 'tt4154796', 'tt6320628', 'tt3480822', 'tt9032400', 'tt9376612', 'tt9419884', 'tt10648342', 'tt9114286'))

 * sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db
Done.

[('tt10648342', 'movie', 'Thor: Love and Thunder', 'Thor: Love and Thunder', 0, 2022, None, None, 'Action,Adventure,Fantasy'),
 ('tt9032400', 'movie', 'Eternals', 'Eternals', 0, 2021, None, None, 'Action,Adventure,Drama'),
 ('tt9114286', 'movie', 'Black Panther: Wakanda Forever', 'Black Panther: Wakanda Forever', 0, 2022, None, None, 'Action,Adventure,Drama'),
 ('tt9376612', 'movie', 'Shang-Chi and the Legend of the Ten Rings', 'Shang-Chi and the Legend of the Ten Rings', 0, 2021, None, None, 'Action,Adventure,Fantasy'),
 ('tt9419884', 'movie', 'Doctor Strange in the Multiverse of Madness', 'Doctor Strange in the Multiverse of Madness', 0, 2022, None, None, 'Action,Adventure,Fantasy')]

Markdown notes and sentences and analysis written here.

## Question 3

In [38]:
%%sql

-- get top 5 and bottom 5 movies by average rating using this list

SELECT t.primary_title, t.premiered, r.rating FROM titles as t LEFT JOIN ratings as r ON t.title_id = r.title_id 
WHERE t.title_id in ('tt0371746', 'tt0800080', 'tt1228705', 'tt0800369', 'tt0458339', 'tt0848228', 'tt1300854', 'tt1981115', 'tt1843866', 'tt2015381', 'tt2395427', 'tt0478970', 'tt3498820', 'tt1211837', 'tt3896198', 'tt2250912', 'tt3501632', 'tt1825683', 'tt4154756', 'tt5095030', 'tt4154664', 'tt4154796', 'tt6320628', 'tt3480822', 'tt9032400', 'tt9376612', 'tt9419884', 'tt10648342', 'tt9114286')

 * sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db
Done.

[('Iron Man', 2008, 7.9),
 ('Captain America: The First Avenger', 2011, 6.9),
 ('Ant-Man', 2015, 7.3),
 ('The Incredible Hulk', 2008, 6.7),
 ('Thor', 2011, 7),
 ('The Avengers', 2012, 8),
 ('Thor: Love and Thunder', 2022, None),
 ('Doctor Strange', 2016, 7.5),
 ('Iron Man 2', 2010, 7),
 ('Iron Man 3', 2013, 7.1),
 ('Black Panther', 2018, 7.3),
 ('Captain America: The Winter Soldier', 2014, 7.7),
 ('Thor: The Dark World', 2013, 6.9),
 ('Guardians of the Galaxy', 2014, 8),
 ('Spider-Man: Homecoming', 2017, 7.4),
 ('Avengers: Age of Ultron', 2015, 7.3),
 ('Black Widow', 2021, 6.8),
 ('Captain America: Civil War', 2016, 7.8),
 ('Thor: Ragnarok', 2017, 7.9),
 ('Guardians of the Galaxy Vol. 2', 2017, 7.6),
 ('Captain Marvel', 2019, 6.8),
 ('Avengers: Infinity War', 2018, 8.4),
 ('Avengers: Endgame', 2019, 8.4),
 ('Ant-Man and the Wasp', 2018, 7),
 ('Spider-Man: Far from Home', 2019, 7.5),
 ('Eternals', 2021, None),
 ('Black Panther: Wakanda Forever', 2022, None),
 ('Shang-Chi and the Legend of the Ten Rings', 2021, None),
 ('Doctor Strange in the Multiverse of Madness', 2022, None)]

Markdown notes and sentences and analysis written here.

## Question 4

In [39]:
%%sql

SELECT premiered, AVG(length(primary_title) - length(replace(primary_title, ' ', '')) + 1)
AS avg_title_length
FROM titles
GROUP BY premiered
HAVING avg_title_length < 3;

 * sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db
Done.

[(None, 2.2873547892100556),
 (1883, 2.0),
 (1885, 2.0),
 (1892, 2.6666666666666665),
 (1893, 1.6666666666666667),
 (1928, 2.94361763022324),
 (1929, 2.9717885510818953),
 (1930, 2.9899655064283475),
 (1931, 2.930741190765492),
 (1935, 2.983493810178817),
 (1982, 2.9937077330197),
 (2022, 2.73824547119886),
 (2023, 2.8875379939209727),
 (2024, 2.8181818181818183),
 (2026, 2.4444444444444446)]

Markdown notes and sentences and analysis written here.

## Question 5

In [ ]:
# code here

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.