# Project 13 -- Dwijen Chawra

## Question 1

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%sql sqlite:///flights_sample.db

In [48]:
%%bash

cd ~/tdm201/project13

cp /anvil/projects/tdm/data/flights/flights_sample.db .

sqlite3 flights_sample.db

.header on
SELECT * FROM flights LIMIT 5;

ALTER TABLE flights ADD COLUMN updated_at DATETIME DEFAULT '1970-01-01 00:00:00';
SELECT * FROM flights LIMIT 5;


CREATE TRIGGER update_updated_at
    AFTER UPDATE ON flights
    BEGIN
        UPDATE flights
        SET updated_at = CURRENT_TIMESTAMP
        WHERE rowid = new.rowid;
    END;

UPDATE flights SET Year = 5555 WHERE Year = 2007 AND Month = 1 AND DayofMonth = 1 AND DayOfWeek = 1 AND DepTime = 1225 AND Origin = 'SMF';

SELECT * FROM flights WHERE Year = 5555;

Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay
2007|1|1|1|1232|1225|1341|1340|WN|2891|N351|69|75|54|1|7|SMF|ONT|389|4|11|0||0|0|0|0|0|0
2007|1|1|1|1918|1905|2043|2035|WN|462|N370|85|90|74|8|13|SMF|PDX|479|5|6|0||0|0|0|0|0|0
2007|1|1|1|2206|2130|2334|2300|WN|1229|N685|88|90|73|34|36|SMF|PDX|479|6|9|0||0|3|0|0|0|31
2007|1|1|1|1230|1200|1356|1330|WN|1355|N364|86|90|75|26|30|SMF|PDX|479|3|8|0||0|23|0|0|0|3
2007|1|1|1|831|830|957|1000|WN|2278|N480|86|90|74|-3|1|SMF|PDX|479|3|9|0||0|0|0|0|0|0
Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|updated_at
2007|1|1|1|1232|1225|1341|1340|WN|2891|N351|69|75|54|1|7|SMF|ONT|389|4|11|0||0|0|0|0|0|0|1970-01-01 00:00:00
2007|1|1|1|1918|1905|2043|2035|WN|462|N370|85|90|74|8|13|SMF|PDX|479|5|6|0||0|0|0|0|0|0|1970-01-01 00:00:00
2007|1|1|1|2206|2130|2334|2300|WN|1229|N685|88|90|73|34|36|SMF|PDX|479|6|9|0||0|3|0|0|0|31|1970-01-01 00:00:00
2007|1|1|1|1230|1200|1356|1330|WN|1355|N364|86|90|75|26|30|SMF|PDX|479|3|8|0||0|23|0|0|0|3|1970-01-01 00:00:00
2007|1|1|1|831|830|957|1000|WN|2278|N480|86|90|74|-3|1|SMF|PDX|479|3|9|0||0|0|0|0|0|0|1970-01-01 00:00:00
Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|updated_at
5555|1|1|1|1225|1215|1816|1745|NW|398|N326US|231|210|195|31|10|SMF|MSP|1518|15|21|0||0|3|0|21|0|7|2022-12-09 07:05:35

In [44]:
%%bash
sqlite3 flights_sample.db
SELECT * FROM flights WHERE Year = 5555;

5555|1|1|1|1225|1215|1816|1745|NW|398|N326US|231|210|195|31|10|SMF|MSP|1518|15|21|0||0|3|0|21|0|7|2022-12-09 06:53:33

## Question 2

In [40]:
%%bash
cp /anvil/projects/tdm/data/movies_and_tv/imdb.db $SCRATCH

cd $SCRATCH

sqlite3 imdb.db
-- Create a view called titles_with_ratings that has all of the information from the titles table 
-- It also includes the rating and votes from the ratings table.
-- The view should have the same columns as the titles table, plus the rating and votes columns from the ratings table.

CREATE VIEW titles_with_ratings AS
SELECT t.*, r.rating, r.votes FROM titles AS t INNER JOIN ratings AS r ON t.title_id = r.title_id;

SELECT * FROM titles_with_ratings LIMIT 5;

tt0000001|short|Carmencita|Carmencita|0|1894||1|Documentary,Short|5.7|1718
tt0000002|short|Le clown et ses chiens|Le clown et ses chiens|0|1892||5|Animation,Short|6|211
tt0000003|short|Pauvre Pierrot|Pauvre Pierrot|0|1892||4|Animation,Comedy,Romance|6.5|1480
tt0000004|short|Un bon bock|Un bon bock|0|1892||12|Animation,Short|6.1|124
tt0000005|short|Blacksmith Scene|Blacksmith Scene|0|1893||1|Comedy,Short|6.2|2283

Markdown notes and sentences and analysis written here.

## Question 3

In [50]:
%%bash

cd ~/tdm201/project13

sqlite3 flights_sample.db

BEGIN;
UPDATE flights SET Year = 7777 WHERE Year = 5555;
SELECT * FROM flights WHERE Year = 7777;

ROLLBACK;

SELECT * FROM flights WHERE Year = 7777;
SELECT * FROM flights WHERE Year = 5555;

7777|1|1|1|1225|1215|1816|1745|NW|398|N326US|231|210|195|31|10|SMF|MSP|1518|15|21|0||0|3|0|21|0|7|2022-12-09 07:06:50
5555|1|1|1|1225|1215|1816|1745|NW|398|N326US|231|210|195|31|10|SMF|MSP|1518|15|21|0||0|3|0|21|0|7|2022-12-09 07:05:35

the first print is when the flight with year 5555 is changed and then the next print statement is when the flight with year 7777 is reverted back to 5555.

## Question 4

In [65]:
%%bash

cd ~/tdm201/project13

sqlite3 flights_sample.db

SELECT Origin, AVG(Distance)
FROM flights
GROUP BY Origin

ABE|528.123837923171
ABI|158.0
ABQ|658.160054420446
ABY|146.0
ACK|209.105095541401
ACT|89.0
ACV|224.982954545455
ACY|688.315646258503
ADK|1075.94174757282
ADQ|252.0
AEX|337.576769025367
AGS|144.82239720035
AKN|368.110638297872
ALB|613.982960240561
ALO|166.0
AMA|357.817157252718
ANC|1232.19751961529
APF|540.0
ASE|244.783788878417
ATL|653.067599208411
ATW|324.797863731995
AUS|676.490845616757
AVL|420.746620726213
AVP|561.011764705882
AZO|174.013669205233
BDL|755.942532258559
BET|399.0
BFL|372.461020211742
BGM|461.831262939959
BGR|577.777560498656
BHM|537.661185468451
BIL|491.085641244141
BIS|439.536291600634
BJI|199.0
BLI|755.578231292517
BMI|340.794264043612
BNA|671.374848534469
BOI|548.162929415663
BOS|845.992214775561
BPT|79.0
BQK|238.0
BQN|1459.30656934307
BRO|308.0
BRW|504.202479338843
BTM|357.0
BTR|402.772397796463
BTV|474.422986600359
BUF|495.255929853487
BUR|529.143341712347
BWI|703.85664396398
BZN|584.290624403284
CAE|509.066979362101
CAK|528.891162292448
CDV|186.5
CEC|219.355450236967
CHA|336.101478049857
CHO|422.483405483405
CHS|493.480380271805
CIC|152.889374090247
CID|392.770693211371
CLD|118.705128205128
CLE|598.682633353771
CLL|149.226890756303
CLT|607.111007961733
CMH|562.135818804483
CMI|208.873775843308
CMX|277.0
COD|332.476047904192
COS|572.627981198863
CPR|315.253984575835
CRP|313.019796129414
CRW|434.382790165809
CSG|83.0
CVG|609.361617605806
CWA|255.025944726452
DAB|465.170056956875
DAL|315.432892810143
DAY|450.631182795699
DBQ|147.0
DCA|599.297715968149
DEN|818.839877473768
DFW|770.000121071483
DHN|171.0
DLG|329.0
DLH|254.862431444241
DRO|282.021325209444
DSM|524.908292300806
DTW|569.028026008857
EAU|85.0
EGE|519.884649776453
EKO|200.020340846619
ELM|331.0
ELP|559.412611786288
ERI|321.639911634757
EUG|493.525200188413
EVV|332.621742112483
EWN|433.0
EWR|928.465191125992
EYW|646.0
FAI|625.344806763285
FAR|462.463773584906
FAT|368.613279012031
FAY|331.0
FCA|604.93343419062
FLG|119.0
FLL|966.026795747256
FLO|273.0
FNT|500.144308681672
FSD|453.935260286094
FSM|280.24168190128
FWA|293.588199605642
GEG|572.782956306167
GFK|284.0
GGG|140.0
GJT|261.655619596542
GLH|122.0
GNV|300.0
GPT|392.796316507503
GRB|251.595684135641
GRK|241.664789279472
GRR|396.687789422374
GSO|513.27870493992
GSP|503.927889242615
GST|41.0
GTF|574.148097360302
GTR|241.0
GUC|204.889238020424
HDN|364.39739292365
HHH|239.0
HLN|504.951747088186
HNL|874.032257587192
HOU|565.411248673505
HPN|808.442676426128
HRL|273.309396636993
HSV|452.53533496732
HTS|174.806451612903
IAD|879.147889025569
IAH|829.897225825766
ICT|580.184677966102
IDA|347.710020691694
ILG|642.0
ILM|294.768545216252
IND|637.536878098036
INL|254.0
IPL|118.459230769231
ISO|406.0
ISP|838.820242186222
ITO|208.596551724138
IYK|123.01630988787
JAC|478.734717088428
JAN|456.110456987269
JAX|606.015167960814
JFK|1143.2562635519
JNU|467.051045648752
KOA|653.551153052934
KTN|444.962730318258
LAN|195.724902216428
LAS|913.574471328702
LAW|140.0
LAX|961.014061625357
LBB|329.036649816176
LCH|127.0
LEX|377.277054108216
LFT|292.21529844215
LGA|673.207991928331
LGB|1122.15390570021
LIH|404.85666900555
LIT|456.433006055618
LNK|432.27453769559
LRD|360.610696028313
LSE|171.24402866242
LWB|369.0
LWS|460.184135977337
LYH|389.0
MAF|360.723566543924
MBS|177.833867521368
MCI|671.185907000354
MCN|79.0
MCO|904.443326295674
MDT|526.122342239909
MDW|811.669611841899
MEI|267.0
MEM|539.311169649787
MFE|491.301922670611
MFR|410.884175927375
MGM|240.653121175031
MHT|664.185722984683
MIA|1029.9030613821
MKC|438.0
MKE|551.765525982256
MLB|483.149706457926
MLI|412.658890290038
MLU|351.483193277311
MOB|402.10354885756
MOD|174.733660130719
MOT|449.0
MQT|227.442469597755
MRY|300.730383211679
MSN|356.264758497317
MSO|610.537956396112
MSP|762.729200621126
MSY|636.122157036085
MTH|647.0
MTJ|346.308902532617
MYR|315.557510348906
OAJ|399.0
OAK|728.191905308388
OGG|747.627121301195
OKC|571.763721999703
OMA|644.493465332431
OME|421.205882352941
ONT|587.18348822131
ORD|694.259053073042
ORF|569.074905056966
OTZ|304.325966850829
OXR|49.0316642120766
PBI|882.60125646711
PDX|923.541269218299
PFN|304.010957324106
PHF|501.305695746215
PHL|890.783948185234
PHX|863.450959862038
PIA|290.418128115193
PIH|150.0
PIR|872.5
PIT|629.835070820378
PLN|243.71875
PMD|315.323979591837
PNS|421.355350194553
PSC|650.861476608187
PSE|1493.62137862138
PSG|77.0
PSP|521.95280660556
PVD|669.942679176851
PWM|541.229445506692
RAP|420.936492136174
RDD|199.063022866704
RDM|313.482720789907
RDU|554.678998199378
RFD|829.340057636888
RHI|190.0
RIC|503.880092662537
RNO|516.480687957076
ROA|385.559482060966
ROC|483.151904596503
ROW|435.0
RST|213.372530573848
RSW|899.090566720985
SAN|827.073276747914
SAT|668.015616237436
SAV|499.299838946852
SBA|299.13051702396
SBN|241.250390015601
SBP|246.466534316506
SCC|415.0
SCE|409.703101920236
SDF|469.933375320527
SEA|1197.90155506886
SFO|1034.68435494003
SGF|438.364170736119
SGU|284.935918591859
SHV|335.059872895529
SIT|251.191791044776
SJC|669.921461394085
SJT|228.0
SJU|1517.0352608714
SLC|686.020952857761
SLE|627.298994974874
SMF|689.214467748046
SMX|135.0
SNA|759.87220742923
SOP|297.0
SPI|243.751289398281
SPS|113.0
SRQ|689.524485063429
STL|683.606404958678
STT|1180.68629441624
STX|1275.5114822547
SUN|222.865648379052
SUX|234.0
SWF|854.525214592275
SYR|486.256615152657
TEX|387.0
TLH|359.935239896006
TOL|324.281488549618
TPA|844.772676568277
TRI|232.028169014085
TTN|332.581683168317
TUL|529.692472691162
TUP|253.0
TUS|664.069215206048
TVC|243.851824993957
TWF|174.971891376846
TXK|181.0
TYR|103.0
TYS|481.099319727891
VLD|208.0
VPS|427.641403204851
WRG|56.5
WYS|273.0
XNA|569.079714795009
YAK|206.0
YKM|586.0
YUM|168.602724177072

I decided to experiment with the average function and see what the average distance per location was.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.